<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WENAdDesktopView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9149A5751DFFF469003ED36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9149A58E1DFFF46A003ED36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9149A5991DFFF46A003ED36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
